.vscode
*.log
__pycache__
local_settings.py
cms_local_settings.py
media_root*
static_root*
node_modules*
**/static/react
upload_root*
**/static/image/.DS_Store
**/static/.DS_Store
.idea/
**/static/scss/
**/static/.sass-cache